In [1]:
# Import the dependencies.
from pathlib import Path
import pandas as pd
import re

# Set the column width. 
pd.options.display.max_colwidth = 100

In [2]:
# Load in the Alice in Wonderland text.
alice_file = 'Resources/alice.txt'

alice_df = pd.read_csv(alice_file, sep='\t', header=None)
alice_df.columns = ['text']
alice_df.head()

                                                                       text
0                                          ALICE’S ADVENTURES IN WONDERLAND
1                                           CHAPTER I. Down the Rabbit-Hole
2     Alice was beginning to get very tired of sitting by her sister on the
3  bank, and of having nothing to do: once or twice she had peeped into the
4   book her sister was reading, but it had no pictures or conversations in

In [6]:
# Extract all words with 12 or more letters.
p = r'(\b\w{12}\w*\b)'
words = alice_df['text'].str.extractall(p, flags=re.I).dropna()
words = words.drop_duplicates()
words

                         0
     match
4    0       conversations
37   0      disappointment
235  0      Multiplication
292  0        hippopotamus
303  0       inquisitively
329  0        conversation
353  0       uncomfortable
355  0        consultation
578  0        nevertheless
747  0       circumstances
781  0      contemptuously
851  0        contradicted
872  0        thoughtfully
993  0       extraordinary
1031 0        occasionally
1098 0       straightening
1360 0        triumphantly
1393 0        interrupting
1553 0        straightened
1613 0        difficulties
1660 0      affectionately
1685 0       uncomfortably
1740 0        thunderstorm
1842 0        Uglification
1992 0        explanations
2019 0        contemptuous
2098 0        refreshments
2106 0        frontispiece
2275 0        accidentally
2451 0        neighbouring

In [10]:
# Find all the words that come after "Alice" in the text and count their frequency.
p = r'Alice\s(\w+)'
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

was        17
thought    11
said       11
had        10
could      10
           ..
added       1
sadly       1
quietly     1
angrily     1
herself     1
Name: 0, Length: 86, dtype: int64

In [11]:
# Find all the words 5 letters or longer that come after "Alice" in the text and count their frequency.
p = r'Alice\s(\w{5}\w*)'
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

thought         11
could           10
looked           8
replied          8
began            6
ventured         4
hastily          4
heard            3
asked            3
indignantly      3
waited           3
noticed          2
remarked         2
quite            2
whispered        2
cautiously       2
guessed          2
called           2
again            2
recognised       1
thoughtfully     1
loudly           1
watched          1
gently           1
tried            1
rather           1
joined           1
alone            1
panted           1
found            1
timidly          1
appeared         1
doubtfully       1
sharply          1
sighed           1
think            1
desperately      1
considered       1
angrily          1
after            1
opened           1
would            1
sadly            1
severely         1
aloud            1
dodged           1
turned           1
folded           1
remained         1
crouched         1
laughed          1
started          1
glanced          1
caught           1
added            1
quietly          1
herself          1
Name: 0, dtype: int64

In [16]:
# Find all the words 5 letters or longer that don't end in "ly" that come 
# after "Alice" in the text and count their frequency.
p = r'Alice\s(\w{5}\w*)[^ly]'
alice_df['text'].str.extractall(p, flags=re.I)[0].value_counts()

thought         11
could           10
replied          8
looked           8
began            6
hastily          4
ventured         3
asked            3
waited           3
indignantly      3
heard            3
remarked         2
again            2
whispered        2
noticed          2
guessed          2
cautiously       2
recognised       1
rather           1
tried            1
gently           1
venture          1
thoughtfully     1
joined           1
think            1
found            1
appeared         1
sighed           1
alone            1
doubtfully       1
timidly          1
panted           1
quite            1
watched          1
loudly           1
sharply          1
desperately      1
considered       1
angrily          1
after            1
opened           1
would            1
sadly            1
severely         1
called           1
aloud            1
calle            1
dodged           1
turned           1
folded           1
remained         1
crouched         1
laughed          1
started          1
glanced          1
caught           1
added            1
quietly          1
herself          1
Name: 0, dtype: int64