In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that the "petsitly_marketing" database is in MongoDB
print(mongo.list_database_names())

['admin', 'config', 'epa', 'fruits_db', 'local', 'petsitly_marketing']

In [4]:
# assign the database to a variable name
db = mongo['petsitly_marketing']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['customer_list']

In [6]:
# assign the collection to a variable
customers = db['customer_list']

In [10]:
# Create a query that finds the customers who had over 50 visits in 2021
q = {'2021_Visits': {'$gt': 50}}

# Capture the results to a variable
r = customers.find(q)

# Pretty print the first two results
for i in range(2):
    pprint(r[i])

{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '5221 Christopher Landing Suite 898',
 'Customer_First': 'Malvin',
 'Customer_Last': 'Keeling',
 'Email': 'udavis@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('64eec90ddf0c010319a011d4')}
{'2021_Total_Spend': 948.75,
 '2021_Visits': 55,
 'Address': '6981 Christina Summit Apt. 971',
 'Customer_First': 'Virgil',
 'Customer_Last': 'Osinski',
 'Email': 'susanlopez@gmail.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('64eec90ddf0c010319a011d5')}

In [12]:
# Create a query that finds the customers who spent $250 or less in 2021
q = {'2021_Total_Spend': {'$lt': 250}}

# Capture the results to a variable
r = customers.find(q)

# Pretty print the first two results
for i in range(2):
    pprint(r[i])

{'2021_Total_Spend': 103.5,
 '2021_Visits': 6,
 'Address': '40306 Floyd Hollow',
 'Customer_First': 'Litzy',
 'Customer_Last': 'Paucek',
 'Email': 'barbara42@gmail.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('64eec90ddf0c010319a011d7')}
{'2021_Total_Spend': 172.5,
 '2021_Visits': 10,
 'Address': '68369 Harris Motorway Apt. 444',
 'Customer_First': 'Braulio',
 'Customer_Last': 'Daniel',
 'Email': 'georgedavid@yahoo.com',
 'Pet_Type': 'dog',
 '_id': ObjectId('64eec90ddf0c010319a011e3')}

In [13]:
# Create a query that finds the customer(s) who live in an apartment with "Suite" in the address
q = {'Address': {'$regex': 'Suite'}}

# Capture the results to a variable
r = customers.find(q)

# Pretty print the first three results
for i in range(3):
    pprint(r[i])

{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '5221 Christopher Landing Suite 898',
 'Customer_First': 'Malvin',
 'Customer_Last': 'Keeling',
 'Email': 'udavis@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('64eec90ddf0c010319a011d4')}
{'2021_Total_Spend': 1397.25,
 '2021_Visits': 81,
 'Address': '2529 Anthony Streets Suite 146',
 'Customer_First': 'Ines',
 'Customer_Last': 'Monahan',
 'Email': 'hoffmantimothy@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('64eec90ddf0c010319a011de')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '5359 Wilson Trafficway Suite 562',
 'Customer_First': 'Grady',
 'Customer_Last': 'Wyman',
 'Email': 'garciaangela@yahoo.com',
 'Pet_Type': 'cat',
 '_id': ObjectId('64eec90ddf0c010319a011e4')}

In [14]:
# Create a query that finds the customers who have turtles or fish
q = {'Pet_Type': {'$in': ['turtle', 'fish']}}

# Capture the results to a variable
r = customers.find(q)

# Pretty print the first three results
for i in range(3):
    pprint(r[i])

{'2021_Total_Spend': 1638.75,
 '2021_Visits': 95,
 'Address': '5221 Christopher Landing Suite 898',
 'Customer_First': 'Malvin',
 'Customer_Last': 'Keeling',
 'Email': 'udavis@hotmail.com',
 'Pet_Type': 'fish',
 '_id': ObjectId('64eec90ddf0c010319a011d4')}
{'2021_Total_Spend': 1311.0,
 '2021_Visits': 76,
 'Address': '10609 Joanna Manor',
 'Customer_First': 'Loni',
 'Customer_Last': 'Hauck',
 'Email': 'sjohnson@hotmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('64eec90ddf0c010319a011d8')}
{'2021_Total_Spend': 448.5,
 '2021_Visits': 26,
 'Address': '34500 Acevedo Plains',
 'Customer_First': 'Consuela',
 'Customer_Last': 'Kunze',
 'Email': 'ycruz@gmail.com',
 'Pet_Type': 'turtle',
 '_id': ObjectId('64eec90ddf0c010319a011e2')}