In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
df = pd.read_csv('https://static.bc-edx.com/data/dl-1-2/m21/lessons/2/HR-Employee-Attrition.csv')
df.head()

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,Education,JobRole,DistanceFromHome,EnvironmentSatisfaction,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,0,35,Yes,Travel_Frequently,502,S,a,l,5,4,...,Divorced,9200,10448,2,Y,Yes,5,1,80,1
1,1,42,No,Non-Travel,497,S,a,l,3,3,...,Single,10719,9049,3,Y,No,7,2,80,4
2,2,34,No,Non-Travel,505,T,e,c,4,3,...,Single,9843,9941,3,Y,No,10,3,80,1
3,3,43,No,Non-Travel,493,T,e,c,5,2,...,Divorced,12077,10150,5,Y,Yes,1,3,80,4
4,4,43,Yes,Travel_Rarely,536,R,e,s,4,4,...,Single,10486,10008,2,Y,No,9,1,80,3

In [2]:
# Generate our categorical variable lists
cat_cols = ['Attrition', 'BusinessTravel','Department', 'Education', 'JobRole', 'Gender', 'MaritalStatus', 'Over18', 'OverTime'] 
df_cat = df[cat_cols]

In [3]:
# Check the number of unique values in each column
df_cat.nunique()

Attrition         2
BusinessTravel    3
Department        3
Education         2
JobRole           3
Gender            2
MaritalStatus     3
Over18            2
OverTime          2
dtype: int64

In [4]:
from sklearn.preprocessing import OneHotEncoder

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse=False)  # 'sparse=False' means the output will be a dense array

# Fit and transform the categorical data
encoded_data = encoder.fit_transform(df_cat)

/Users/jbisal/anaconda3/envs/mlp/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [5]:
encoder.get_feature_names_out(df_cat.columns)

array(['Attrition_No', 'Attrition_Yes', 'BusinessTravel_Non-Travel',
       'BusinessTravel_Travel_Frequently', 'BusinessTravel_Travel_Rarely',
       'Department_R', 'Department_S', 'Department_T', 'Education_a',
       'Education_e', 'JobRole_c', 'JobRole_l', 'JobRole_s', 'Gender_F',
       'Gender_M', 'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'Over18_N', 'Over18_Y', 'OverTime_No',
       'OverTime_Yes'], dtype=object)

In [6]:
df_cat_encoded = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(df_cat.columns))
df_cat_encoded.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_R,Department_S,Department_T,Education_a,Education_e,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
df_num = df[[col for col in df.columns if col not in df_cat.columns]]

In [8]:
df2 = pd.concat([df_num, df_cat_encoded], axis=1)
df2.head()

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0,35,502,5,4,48,4,2,5,9200,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,42,497,3,3,50,4,3,5,10719,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,2,34,505,4,3,46,2,3,5,9843,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,3,43,493,5,2,48,3,1,5,12077,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,4,43,536,4,4,53,2,3,2,10486,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
y = df2['Attrition_Yes']
X = df2[[col for col in df2.columns if col not in ['Attrition_Yes', 'Attrition_No']]]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y)
# Split the preprocessed data into a training and testing dataset

In [10]:
# Create a StandardScaler instances
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler
scaler.fit(x_train)

# Scale the data
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [11]:
# Define the model - deep neural net
import tensorflow as tf
model = tf.keras.Sequential()

# First hidden layer
model.add(tf.keras.layers.Dense(8, input_shape=(x_train_scaled.shape[1],), activation='relu'))
model.add(tf.keras.layers.Dense(5, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

model.summary()

2023-11-05 16:58:12.044357: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M1 Pro
2023-11-05 16:58:12.044382: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 16.00 GB
2023-11-05 16:58:12.044386: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 5.33 GB
2023-11-05 16:58:12.044417: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2023-11-05 16:58:12.044434: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 296

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 347 (1.36 KB)
Trainable params: 347 (1.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [13]:
# Train the model
model.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100

2023-11-05 16:58:13.082019: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:117] Plugin optimizer for device_type GPU is enabled.

34/34 [==============================] - 5s 53ms/step - loss: 0.8762 - accuracy: 0.4968
Epoch 2/100
34/34 [==============================] - 0s 8ms/step - loss: 0.7760 - accuracy: 0.5419
Epoch 3/100
34/34 [==============================] - 0s 8ms/step - loss: 0.7078 - accuracy: 0.5989
Epoch 4/100
34/34 [==============================] - 0s 8ms/step - loss: 0.6526 - accuracy: 0.6412
Epoch 5/100
34/34 [==============================] - 0s 8ms/step - loss: 0.6110 - accuracy: 0.6753
Epoch 6/100
34/34 [==============================] - 0s 8ms/step - loss: 0.5780 - accuracy: 0.7102
Epoch 7/100
34/34 [==============================] - 0s 8ms/step - loss: 0.5503 - accuracy: 0.7470
Epoch 8/100
34/34 [==============================] - 0s 8ms/step - loss: 0.5268 - accuracy: 0.7700
Epoch 9/100
34/34 [==============================] - 0s 8ms/step - loss: 0.5079 - accuracy: 0.7948
Epoch 10/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4909 - accuracy: 0.8206
Epoch 11/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4762 - accuracy: 0.8289
Epoch 12/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4656 - accuracy: 0.8344
Epoch 13/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4552 - accuracy: 0.8445
Epoch 14/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4468 - accuracy: 0.8482
Epoch 15/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4429 - accuracy: 0.8500
Epoch 16/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4360 - accuracy: 0.8491
Epoch 17/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4309 - accuracy: 0.8510
Epoch 18/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4270 - accuracy: 0.8510
Epoch 19/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4246 - accuracy: 0.8510
Epoch 20/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4218 - accuracy: 0.8519
Epoch 21/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4196 - accuracy: 0.8537
Epoch 22/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4169 - accuracy: 0.8537
Epoch 23/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4154 - accuracy: 0.8537
Epoch 24/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4141 - accuracy: 0.8537
Epoch 25/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4125 - accuracy: 0.8537
Epoch 26/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4115 - accuracy: 0.8537
Epoch 27/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4102 - accuracy: 0.8537
Epoch 28/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4100 - accuracy: 0.8537
Epoch 29/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4087 - accuracy: 0.8537
Epoch 30/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4087 - accuracy: 0.8537
Epoch 31/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4083 - accuracy: 0.8537
Epoch 32/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4085 - accuracy: 0.8537
Epoch 33/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4088 - accuracy: 0.8546
Epoch 34/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4068 - accuracy: 0.8537
Epoch 35/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4064 - accuracy: 0.8537
Epoch 36/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4062 - accuracy: 0.8546
Epoch 37/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4061 - accuracy: 0.8546
Epoch 38/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4052 - accuracy: 0.8546
Epoch 39/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4053 - accuracy: 0.8546
Epoch 40/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4043 - accuracy: 0.8546
Epoch 41/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4046 - accuracy: 0.8546
Epoch 42/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4046 - accuracy: 0.8546
Epoch 43/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4047 - accuracy: 0.8546
Epoch 44/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4047 - accuracy: 0.8546
Epoch 45/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4037 - accuracy: 0.8546
Epoch 46/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4035 - accuracy: 0.8546
Epoch 47/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4029 - accuracy: 0.8546
Epoch 48/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 49/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4029 - accuracy: 0.8546
Epoch 50/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4034 - accuracy: 0.8546
Epoch 51/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4030 - accuracy: 0.8546
Epoch 52/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4031 - accuracy: 0.8546
Epoch 53/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4030 - accuracy: 0.8546
Epoch 54/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4038 - accuracy: 0.8546
Epoch 55/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4029 - accuracy: 0.8546
Epoch 56/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4051 - accuracy: 0.8546
Epoch 57/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4032 - accuracy: 0.8546
Epoch 58/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4028 - accuracy: 0.8546
Epoch 59/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4023 - accuracy: 0.8546
Epoch 60/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4025 - accuracy: 0.8546
Epoch 61/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4034 - accuracy: 0.8546
Epoch 62/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4015 - accuracy: 0.8546
Epoch 63/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4022 - accuracy: 0.8546
Epoch 64/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4026 - accuracy: 0.8546
Epoch 65/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4032 - accuracy: 0.8546
Epoch 66/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 67/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4023 - accuracy: 0.8546
Epoch 68/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 69/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4038 - accuracy: 0.8546
Epoch 70/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4034 - accuracy: 0.8546
Epoch 71/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4023 - accuracy: 0.8546
Epoch 72/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4039 - accuracy: 0.8546
Epoch 73/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4026 - accuracy: 0.8546
Epoch 74/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4021 - accuracy: 0.8546
Epoch 75/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4024 - accuracy: 0.8546
Epoch 76/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4033 - accuracy: 0.8546
Epoch 77/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4029 - accuracy: 0.8546
Epoch 78/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4022 - accuracy: 0.8546
Epoch 79/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4024 - accuracy: 0.8546
Epoch 80/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4030 - accuracy: 0.8546
Epoch 81/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4033 - accuracy: 0.8546
Epoch 82/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4023 - accuracy: 0.8546
Epoch 83/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4040 - accuracy: 0.8546
Epoch 84/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4021 - accuracy: 0.8546
Epoch 85/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4031 - accuracy: 0.8546
Epoch 86/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4033 - accuracy: 0.8546
Epoch 87/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4039 - accuracy: 0.8546
Epoch 88/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4030 - accuracy: 0.8546
Epoch 89/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 90/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 91/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4029 - accuracy: 0.8546
Epoch 92/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4016 - accuracy: 0.8546
Epoch 93/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4029 - accuracy: 0.8546
Epoch 94/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 95/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4026 - accuracy: 0.8546
Epoch 96/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4027 - accuracy: 0.8546
Epoch 97/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4021 - accuracy: 0.8546
Epoch 98/100
34/34 [==============================] - 0s 7ms/step - loss: 0.4030 - accuracy: 0.8546
Epoch 99/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4021 - accuracy: 0.8546
Epoch 100/100
34/34 [==============================] - 0s 8ms/step - loss: 0.4028 - accuracy: 0.8546

In [14]:
# Evaluate the model using the test data
loss, accuracy = model.evaluate(x_test_scaled, y_test)
print(f'loss = {loss}, accuracy = {accuracy}')

12/12 [==============================] - 2s 68ms/step - loss: 0.4932 - accuracy: 0.8209
loss = 0.49324527382850647, accuracy = 0.8209366202354431