In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

In [5]:
# Write an aggregation query that counts the number of documents, grouped by "classification"
pipeline = [
    {'$group': {'_id': '$classification', 'count': {'$sum': 1}}}
]

In [8]:
# Run the query with the aggregate method and save the results to a variable
result = list(artifacts.aggregate(pipeline))

In [9]:
# Print the number of classifications in the result
print(f'Number of classifications in result: {len(result)}')

Number of classifications in result: 64

In [14]:
# Print the first 10 results
for _ in result[:10]:
    print(_)

{'_id': 'Costumes', 'count': 1}
{'_id': 'Metal', 'count': 1}
{'_id': 'Wood-Architectural', 'count': 11}
{'_id': 'Bone/Ivory-Ornaments', 'count': 31}
{'_id': 'Textiles-Woven', 'count': 47}
{'_id': 'Hide-Costumes', 'count': 2}
{'_id': 'Stone-Ornaments', 'count': 15}
{'_id': 'Ceramics-Musical Instruments', 'count': 4}
{'_id': 'Metal-Ornaments', 'count': 184}
{'_id': 'Metal-Containers', 'count': 8}

In [15]:
# Convert mongo result to Pandas DataFrame
df = pd.DataFrame(result)

# Print out the length of the DataFrame
print(f'Rows in DataFrame: {len(df)}')

# Display the first 10 rows of the DataFrame
df.head(10)

Rows in DataFrame: 64

                            _id  count
0                      Costumes      1
1                         Metal      1
2            Wood-Architectural     11
3          Bone/Ivory-Ornaments     31
4                Textiles-Woven     47
5                 Hide-Costumes      2
6               Stone-Ornaments     15
7  Ceramics-Musical Instruments      4
8               Metal-Ornaments    184
9              Metal-Containers      8

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licensed under the [Creative Commons 0 License](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".